.pt15 {
  padding-top: 15px;
}
.mt-30 {
  margin-top: -30px
}
.ml15 {
  margin-left: 15px;
}
.ml10 {
  margin-left: 10px;
}
.br20 {
  border-radius: 20px;
}
.fs17-ni {
  font-size: 17px !important;
}
.fs14-ni {
  font-size: 14px !important;
}
.pb0 {
  padding-bottom: 0px;
}
.pl0 {
  padding-left: 0px;
}
.pl4 {
  padding-left: 4px;
}
.pt {
  padding-top: 3px;
}
.bb2 {
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 0px solid transparent;
}